/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

#mainpage {
    padding: 20px;
}

.message {
    display: none;
    font-weight: bold;
    margin-bottom: 10px;
}

.success {
    color: green;
}

.error {
    color: red;
}

main {
    background-color: #a819a8;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
